
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: helvetica;
}

.morty-form {
    margin-top: 15px;
    display: flex;
    justify-content:center;
}

.hero {
    background-image: url('../second-option.png');
    height: 400px;
    /* move image up or down */
    background-position: center; 
}

.hero-title {
    display: flex;
    justify-content: center;
    color: #ffffff;

}

.footer {
    color: #ffffff !important;
    width: 100% !important;
    height: 65px !important;
    background-color: black !important;
    margin-top: 120px;
    align-content: center ;
    justify-content: center ;
}

main {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-around;
}

.btn-primary {
    color: #fff;
    background-color: #9beb4c !important;
    border-color: #007bff !important;
}